{# Trips search form #}
{% form_theme form 'forms/bootstrap_3_horizontal_layout_4_8.html.twig' %}

<div id="search-form" class="form-inline">
    {{ form_start(form) }}
    {{ form_row(form.depCity) }}
    {{ form_row(form.arrCity) }}
    {{ form_row(form.date) }}
    {{ form_widget(form.search) }}

    {{ form_end(form) }}
</div>