{#-- Map showing the trip --#}
{# With styles and scripts  #}
{#==========================#}

{% block map_styles %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="/bundles/app/mappy/L.Mappy.css" />
{% endblock %}

{% block head_map_scripts %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" type="text/javascript"></script>
    <script>if (typeof L !== 'undefined') {document.write('<script src="/bundles/app/mappy/L.Mappy.js">\x3C/script>')}</script>
{% endblock %}

{% block map_scripts %}
    {% javascripts 'bundles/app/js/specific/trip-map.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block inline_map_scripts %}
     <script type="text/javascript">
         {% set arr = trip.stops|sortbydelta|last %}
         var arr_time = {{ arr.time ?: 0  }};
         if (typeof L !== 'undefined') {
             var roadbook = JSON.parse('{{ trip.mappyRoadbook|escape('js') }}');
             {% for key, stop in  trip.stops|sortbydelta %}
                pos[{{ key }}] = new Object;
                pos[{{ key }}].set = false;
                pos[{{ key }}].center = L.latLng({{ stop.lat }}, {{ stop.lng }});
             {% endfor %}
         }
         MapPageInit();
     </script>
{% endblock %}

{% block map %}
    <div id="map">
        <div id="spinner" style="display: none;">
            <img src="/bundles/app/img/icons/bigspinner.gif">
        </div>
    </div>
    <div id="map_legend">
        <p>Voir:
            <a id='dep_center' href='' title='Cliquez pour centrer la carte sur le point de départ'>Départ</a> -
            <a id='arr_center' href='' title='Cliquez pour centrer la carte sur le lieu d arrivée'>Arrivée</a> -
            <a id='trip_center' href='' title='Cliquez pour voir tout le trajet'>Trajet</a><br>
            Distance: <strong><span id='distance'>0</span></strong> -
            Durée: <strong><span id='time'>0</span></strong>
        </p>
    </div>
{% endblock %}

