<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('fos_user_profile_edit') }}">Profil</a></li>
    <li><a href="{{ path('fos_user_change_password') }}">Mot de passe</a></li>
    <li><a href="{{ path('user_photo_edit') }}">Photo</a></li>
    <li><a href="{{ path('car_list') }}">Voiture</a></li>
    <li><a href="{{ path('user_unsubscribe') }}">Désinscription</a></li>

</ul>