{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Car list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Type</th>
                <th>Color</th>
                <th>Numberplate</th>
                <th>Photo</th>
                <th>Originalphoto</th>
                <th>Places</th>
                <th>Doors</th>
                <th>Aircond</th>
                <th>Music</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('voiture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.brand }}</td>
                <td>{{ entity.model }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.numberPlate }}</td>
                <td>{{ entity.photo }}</td>
                <td>{{ entity.originalPhoto }}</td>
                <td>{{ entity.places }}</td>
                <td>{{ entity.doors }}</td>
                <td>{{ entity.airCond }}</td>
                <td>{{ entity.music }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('voiture_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('voiture_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('voiture_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
