{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Car</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ entity.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Numberplate</th>
                <td>{{ entity.numberPlate }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ entity.photo }}</td>
            </tr>
            <tr>
                <th>Originalphoto</th>
                <td>{{ entity.originalPhoto }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ entity.places }}</td>
            </tr>
            <tr>
                <th>Doors</th>
                <td>{{ entity.doors }}</td>
            </tr>
            <tr>
                <th>Aircond</th>
                <td>{{ entity.airCond }}</td>
            </tr>
            <tr>
                <th>Music</th>
                <td>{{ entity.music }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('voiture') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('voiture_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
