{% extends "FOSUserBundle::layout.html.twig" %}

{% block headline %}Votre profil{% endblock %}

{% block content %}

    <div class="col-sm-3">
        {% include 'components/user_profile_menu.html.twig' %}
    </div>

    <div class="col-sm-9">
        {% trans_default_domain 'FOSUserBundle' %}

        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" id="form-user-profile">
            {{ form_row(form.gender) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}

            {{ form_rest(form) }}
            {#{{ form_widget(form) }}#}

            <div class="col-sm-4 col-sm-push-4">
                <button class="btn btn-primary" type="submit">{{ 'profile.edit.submit'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock content %}