{% extends "FOSUserBundle::layout.html.twig" %}

{% block headline %}Votre profil{% endblock %}

{% block content %}

    <div class="col-sm-3">
        {% include 'components/user_profile_menu.html.twig' %}
    </div>

    <div class="col-sm-9">
        {% trans_default_domain 'FOSUserBundle' %}

        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" id="form-user-profile">
            {{ form_row(form.gender) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
                {{ form_label(form.email) }}
                <div class="col-sm-4">
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="col-sm-4">
                    {% if app.user.emailConfirmed != null %}
                        <span class="glyphicon glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                        <span class="help-inline">Email confirmé.</span>
                    {% else  %}
                        <div id="confirmation">
                            <span class="glyphicon glyphicon glyphicon-question-sign gray" aria-hidden="true"></span>
                            <span class="help-inline">Email non confirmé.</span>
                            <button id="mail-confirmation">Vérifier l'email</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ form_row(form.phone) }}

            {{ form_rest(form) }}
            {#{{ form_widget(form) }}#}

            <div class="col-sm-4 col-sm-push-4">
                <button class="btn btn-primary" type="submit">{{ 'profile.edit.submit'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block body_end %}
    <script type="text/javascript">
        function sendConfirmationMail(e){
            $('#confirmation').html("<img src='/bundles/app/img/icons/spinner.gif'>");
            $.post( "/app_dev.php/profile/email/confirm", function( data ) {
                 $('#confirmation').html("Mail de confirmation envoyé");
            });
        }

        jQuery(document).ready(function() {
            $('#mail-confirmation').on('click', function(e){
                e.preventDefault();
                sendConfirmationMail();
            });
        });
    </script>

{% endblock %}