{% extends "mail-template.html.twig" %}

{%- block subject %}
    Bienvenue sur Vadrouille Covoiturage
{% endblock -%}

{%- block email_body_text %}
{% autoescape true %}
Bonjour {{ user.firstName }},

Merci de votre inscription.

Pour confirmer votre email, cliquez sur : {{ url }}.

A bientôt !

{% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p>Bonjour {{ user.firstName }},</p>

        <p>Merci de votre inscription.</p>

        <p>Pour confirmer votre email, cliquez sur : <a href="{{ url }}">{{ url }}</a>.</p>

        <p>A bientôt !</p>

    {% endautoescape %}
{% endblock -%}