{# Logo #}
<a href="{{ path('homepage') }}" title="Accueil" alt="Vadrouille Covoiturage">
    <img src="/bundles/app/img/vadrouille-covoiturage.png">
</a>

{# Menu #}
<ul id="header-menu" class="nav nav-pills navbar-right">

    {# If user is connected #}
    {% if is_granted('ROLE_USER') %}
        <li><img src="{{ app.user.webPhotoPath }}" class="navbar-photo"></li>
        <li><a href="#" class="dropdown-toggle "  data-toggle="dropdown" role="button" aria-expanded="false">Bienvenue {{ app.user.firstName }}<span class="caret"></span></a>
            <ul  class="dropdown-menu ">
                <li><a href="/">Mon espace</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Mon profil</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a></li>
                <li><a href="/">Mes messages</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            </ul>
        </li>
    {# If user is NOT connected #}
    {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
    {% endif %}

    {# Common #}
    <li><a href="#" class="dropdown-toggle "  data-toggle="dropdown" role="button" aria-expanded="false">A propos<span class="caret"></span></a>
        <ul  class="dropdown-menu ">
            <li><a href="/">Comment ça marche</a></li>
            <li><a href="/">Prix covoiturage</a></li>
            <li><a href="/">Charte de covoiturage</a></li>
            <li><a href="/">Sécurité</a></li>
            <li><a href="/">FAQ</a></li>
        </ul>
    </li>
    <li><a href="{{ path('covoiturage_find') }}" class="btn btn-primary" >Cherchez un covoiturage</a></li>
    <li><a href="{{ path('covoiturage_new') }}" class="btn btn-success" >Publiez un covoiturage</a></li>

</ul>
