{% extends 'base.html.twig' %}

{% block headline %}Votre photo{% endblock %}

{% block body_start %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
{% endblock body_start %}

{% block content %}
    <div class="col-sm-3">
        {% include 'components/user_profile_menu.html.twig' %}
    </div>

    <div class="col-sm-9">
        {{ form_start(form, {'class': 'form-horizontal user-photo-form'}) }}
            {{ form_errors(form.photo) }}
            {{ form_widget(form.photo) }}
            <button class="btn btn-primary" type="submit">{{ 'Sauver la photo' }}</button>
        {{ form_end(form) }}
    </div>
{% endblock content %}