{% extends 'base.html.twig' %}

{% block headline %}Désinscription{% endblock %}

{% block content %}
    <div class="col-sm-3">
        {% include 'components/user_profile_menu.html.twig' %}
    </div>

    <div class="col-sm-9">
        <form action="{{ path('user_unsubscribe') }}"  method="POST" class="form-horizontal" id="form-user-unsubscribe">
            {{ form_row(form.unsubscribe) }}
            {{ form_row(form.message) }}

            {{ form_rest(form) }}
            {#{{ form_widget(form) }}#}
            <div class="col-sm-4">
                <button class="btn btn-primary" type="submit">Me désinscrire</button>
            </div>
        </form>
    </div>
{% endblock content %}