{% extends 'base.html.twig' %}

{# Leaflet and Mappy CSS and JS #}
{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="/bundles/app/mappy/L.Mappy.css" />
{% endblock head_style %}

{% block head_script %}
    {{ parent() }}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" type="text/javascript"></script>
    <script>if (typeof L !== 'undefined') {document.write('<script src="/bundles/app/mappy/L.Mappy.js">\x3C/script>')}</script>
{% endblock head_script %}

{% form_theme form 'forms/bootstrap_3_horizontal_layout_4_8.html.twig' %}

{% block headline %}Proposer un covoiturage{% endblock %}

{% block content %}
<div id="post-trip">
    {{ form_start(form) }}

    <div class="row">
        {#-- The map --#}
        {#=============#}

        <div id='map_container' class="col-sm-6 col-sm-push-6">
            <div id="map">
                <div id="spinner" style="display: none;">
                    <img src="/bundles/app/img/icons/bigspinner.gif">
                </div>
            </div>
            <div id="map_legend">
                <p>Voir:
                    <a id='dep_center' href='' title='Cliquez pour centrer la carte sur le point de départ'>Départ</a> -
                    <a id='arr_center' href='' title='Cliquez pour centrer la carte sur le lieu d arrivée'>Arrivée</a> -
                    <a id='trip_center' href='' title='Cliquez pour voir tout le trajet'>Trajet</a> |
                    Distance: <strong><span id='distance'>0</span></strong> -
                    Durée: <strong><span id='time'>0</span></strong>
                </p>
            </div>
        </div>


        {#-- The form --#}
        {#==============#}

        <div class="form-block col-sm-6 col-sm-pull-6">

            <h2>Votre parcours</h2>
            {# todo : Changer le label dans le prototype (Ville étape...) #}
            <ul class="stops" data-prototype="{{ form_widget(form.stops.vars.prototype)|e }}">
                {# itère sur chaque stop existant #}
                {% set nstops = form.stops|length %}

                {# Départ et arrivée #}
                <h3>Départ</h3>
                <li>
                    {{ form_row(form.stops[0].city, {'label': 'Ville de départ :'}) }}
                    {{ form_row(form.stops[0].place, {'label': 'Lieu de RV :'}) }}
                    {{ form_row(form.stops[0].lat) }}
                    {{ form_row(form.stops[0].lng) }}
                </li>
                <h3>Arrivée</h3>
                <li>
                    {{ form_row(form.stops[1].city, {'label': 'Ville d\'arrivée :'}) }}
                    {{ form_row(form.stops[1].place, {'label': 'Lieu de dépose :'}) }}
                    {{ form_row(form.stops[1].lat) }}
                    {{ form_row(form.stops[1].lng) }}
                </li>

                {# Etapes #}
                <h3>Etapes</h3>
                {% for i in 2..(nstops-1) if nstops > 2 %}
                   <li class="deletable">
                       {{ form_widget(form.stops[i]) }}
                   </li>
                {% endfor %}
            </ul>
         </div>
    </div>

    <div class="col-sm-12">
        <h2>Date et Heure</h2>
        {{ form_row(form.regular, {'class': 'radio-inline'}) }}
        {{ form_row(form.depDate) }}
        {{ form_row(form.days) }}
        {{ form_row(form.depTime) }}

        {{ form_row(form.comment) }}
        {{ form_rest(form) }}
    </div>

    <div class="col-sm-4 col-sm-push-4">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>

{% endblock content %}

{% block body_end %}
    {% javascripts 'bundles/app/js/specific/trip-edit.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock body_end %}