{% extends "FOSUserBundle::layout.html.twig" %}

{% block headline %}Inscription{% endblock %}

{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" id="form-user-register">
        {{ form_row(form.gender) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.terms) }}

        {# Adds a hidden field "_redirect" responsible for redirecting the user after succesful registration #}
        {# (see UserRedirectListener.php) #}
        {% if app.request.query.get("_redirect") is defined %}
            <input type="hidden" id="redirect" name="_redirect" value="{{ app.request.query.get("_redirect") }}">
        {% endif %}

        {{ form_rest(form) }}
        {#{{ form_widget(form) }}#}

        <div class="col-sm-4 col-sm-push-4">
            <button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans }}</button>
        </div>
    </form>
{% endblock fos_user_content %}
