{% extends 'base.html.twig' %}

{% block headline %}Vos voitures{% endblock %}


{% block content %}

    <div class="col-sm-3">
        {% include 'components/user_profile_menu.html.twig' %}
    </div>

    <div class="col-sm-9">
        {% for car in cars %}
            <div class="row">
                <div class="car col-sm-8">
                    <h3>{{ car.brand.name }}
                        {{ car.model.name }}</h3>
                    <img src="{{ car.webPhotoPath|thumb(300, 225) }}" class="pull-left">
                    <p>Type : {{ car.type }}</p>
                    <p>Couleur : {{ car.color }}</p>
                    <p>Numéro d'immatriculation : {{ car.numberPlate }}</p>
                    <p>Nombre de places : {{ car.places }}</p>
                    <p>Nombre de portes : {{ car.doors }}</p>
                    <p>Climatisation : {{ car.airCond }}</p>
                    <p>Autoradio : {{ car.music }}</p>
                </div>
                <div class="actions col-sm-4">
                    <a href="{{ path('car_edit', { 'id': car.id }) }}">Modifier</a>
                    <a href="{{ path('car_delete', { 'id': car.id }) }}">Supprimer</a>
                </div>
            </div>
        {% endfor %}

        <a href="{{ path('car_new') }}"><button class="btn btn-info">Ajouter une voiture</button></a>

    </div>
{% endblock content %}